body {
    margin :0;
    font-family:arial sans-serif;
    background: rgb(207, 198, 198);
}

.navbar{
    background:rgb(92, 73, 73);
    color : white;
    padding:20px 40px;
    display : flex;
    justify-content : space-between;
    align-items: center;
    border-bottom: 3px solid white;
}
.logo{
    font-size:30px;
    font-weight:bold;
}

.nav-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.logout{
    background:rgb(33, 33, 219);
    border: none;
    padding: 10px 20px;
    color: rgb(235, 235, 235);
    border-radius: 5px;
    cursor:pointer;
    
}
.logout:hover{
    background :rgb(255, 0, 0);
}

.search-container {
    display: flex; /* Matches your Modular Flexbox approach  */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15); /* Semi-transparent for dark header */
    border-radius: 25px; /* Rounded pill shape for a modern feel */
    padding: 5px 15px;
    
    width: 1000px;
    transition: all 0.3s ease;
}

/* Styling the actual text input */
.search-container input {
    background: none;
    border: none;
    color: white;
    padding: 8px;
    width: 100%;
    outline: none; /* Removes the default blue outline */
    font-size: 0.95rem;
}

/* Placeholder color to match the subtle grey theme [cite: 118] */
.search-container input::placeholder {
    color: #ccc;
}


/* Interactive Feedback */
.search-container:focus-within {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.search-container button:hover {
    transform: scale(1.1); /* Subtle "pop" effect */
}




.container{
    display:flex;
    
}

.sidebar{
    width:200px;
    background:rgb(197, 184, 152);
    padding:20px;
    height:100vh;
    border-right:1px solid rgb(232, 208, 167); 
}
.menu{
    padding:12px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    background:rgb(237, 185, 53);
    color:rgb(0, 0, 0);
    
}
.menu:hover{
    background:lightblue;
   
}


.active{
    background:rgb(237, 185, 53);
    color:rgb(109, 15, 15);
}


.main{
    flex:1;
    padding:30px;
    max-width:1000px;
}
.subtitle{
    color:rgb(2, 51, 76);
}
.main h3{
    margin-top:30px;
    border-bottom : 2px solid #add;
    padding-bottom: 5px;
}

.product-box{
    display:flex;
    gap:40px;
    background:lightgray;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px gray;
}

.product-img{
    width:250px;
    height:350px;
    object-fit:cover;
    border-radius: 10px;
}
  

.product-details{
    max-width:500px;
}

.product-details h2 {
    margin-bottom: 10px;
}


.request-btn{
    margin-top: 20px;
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius:5px;
    cursor:pointer;
} 
.request-btn:hover{
    background:orangered
}
